.container {
    margin: 0 auto;
    // Adjusting the max-width to increase page width. 
    // The original file path - `/<website-root>/themes/<theme-name>/assets/scss/..`
    // max-width: 90rem;
    max-width: 100rem;
    width: 100% !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }

.content {
    max-width: 700px !important;
    width: 100% !important;
    margin: 40px auto 10px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
  }

.main-content-wrap{
    max-width: 700px !important;
}

.page {
    width: 100% !important;
}

.article-container {
    max-width: 920px !important;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
  }
  
.full_table {
    display: table;
    width: 100%;
  }
  
.full_table table thead {
    display: table;
    width: 100%;
  }
  
.full_table table tbody {
    display: table;
    width: 100%;
  }